<div class="d-flex flex-column vh-100">
    
    <app-header [collapsed]="sidebarCollapsed" (toggleSidebar)="sidebarCollapsed = !sidebarCollapsed"></app-header>

    <div class="d-flex flex-grow-1 overflow-hidden">
        
        <app-sidebar class="d-none d-lg-block" [collapsed]="sidebarCollapsed"
            (collapsedChange)="sidebarCollapsed = $event">
        </app-sidebar>

        
        <div class="offcanvas offcanvas-start bg-dark text-white d-lg-none" tabindex="-1" id="mobileSidebar"
            aria-labelledby="mobileSidebarLabel">
            
            <div class="offcanvas-header border-bottom border-secondary">
                <h5 class="offcanvas-title d-flex align-items-center" id="mobileSidebarLabel">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                        class="bi bi-capsule me-2" viewBox="0 0 16 16">
                        <path
                            d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9m9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429z" />
                    </svg>
                    Sistema de Farmacia
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="list-unstyled">
                    
                    <li class="mb-2">
                        <a routerLink="/home" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded"
                            data-bs-dismiss="offcanvas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-house-door me-3" viewBox="0 0 16 16">
                                <path
                                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
                            </svg>
                            Inicio
                        </a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/customers" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded"
                            data-bs-dismiss="offcanvas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-people me-3" viewBox="0 0 16 16">
                                <path
                                    d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                            </svg>
                            Clientes
                        </a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/suppliers" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded"
                            data-bs-dismiss="offcanvas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-truck me-3" viewBox="0 0 16 16">
                                <path
                                    d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                            </svg>
                            Proveedores
                        </a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/products" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded"
                            data-bs-dismiss="offcanvas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-box-seam me-3" viewBox="0 0 16 16">
                                <path
                                    d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.747L8.5 6.752V14.155l6.5-2.6zm-7.5 7.403V6.752L1.5 4.286v7.269zm-.107-10.336L8.5 2.152V6.752zM1 1.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5z" />
                            </svg>
                            Productos
                        </a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/employees" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded"
                            data-bs-dismiss="offcanvas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-person-badge me-3" viewBox="0 0 16 16">
                                <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path
                                    d="M9.5 0a.5.5 0 0 1 .5.5V1h3a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h3V.5a.5.5 0 0 1 .5-.5zM3 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z" />
                            </svg>
                            Empleados
                        </a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/sales" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded"
                            data-bs-dismiss="offcanvas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-cart-check me-3" viewBox="0 0 16 16">
                                <path
                                    d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                <path
                                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 11h9a.5.5 0 0 0 .476-.341l1.89-6.615a.5.5 0 0 0-.127-.495.5.5 0 0 0-.446-.13L1.61 3.414L1.138 1.5A.5.5 0 0 0 .61 1zM2.35 4h11.774l-1.547 5.417H5.187z" />
                            </svg>
                            Ventas
                        </a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/purchases" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded"
                            data-bs-dismiss="offcanvas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-bag-check me-3" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                            </svg>
                            Compras
                        </a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/inventory" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded"
                            data-bs-dismiss="offcanvas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-box-fill me-3" viewBox="0 0 16 16">
                                <path
                                    d="M1.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 11h9a.5.5 0 0 0 .476-.341l1.89-6.615a.5.5 0 0 0-.127-.495.5.5 0 0 0-.446-.13L1.61 3.414L1.138 1.5A.5.5 0 0 0 .61 1zM2.35 4h11.774l-1.547 5.417H5.187z" />
                                <path
                                    d="M10.5 4.5v-2a.5.5 0 0 0-1 0v2h-2a.5.5 0 0 0 0 1h2v2a.5.5 0 0 0 1 0v-2h2a.5.5 0 0 0 0-1z" />
                            </svg>
                            Inventario
                        </a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/inventory/movements" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded"
                            data-bs-dismiss="offcanvas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-arrow-left-right me-3" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5" />
                            </svg>
                            Movimientos
                        </a>
                    </li>
                    <li class="mb-2">
                        <a routerLink="/cash" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded"
                            data-bs-dismiss="offcanvas">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-cash-stack me-3" viewBox="0 0 16 16">
                                <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                <path
                                    d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z" />
                            </svg>
                            Cajas
                        </a>
                    </li>

                    <li class="my-2 border-top border-secondary"></li>

                    <li class="mb-2">
                        <div class="text-white small fw-bold text-uppercase px-3 mb-2">Reportes</div>
                        <a routerLink="/reports/sales" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded mb-1"
                            data-bs-dismiss="offcanvas">
                            <span class="ms-4">Reporte Ventas</span>
                        </a>
                        <a routerLink="/reports/purchases" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded mb-1"
                            data-bs-dismiss="offcanvas">
                            <span class="ms-4">Reporte Compras</span>
                        </a>
                        <a routerLink="/reports/inventory" routerLinkActive="bg-primary"
                            class="d-flex align-items-center text-white text-decoration-none px-3 py-2 rounded mb-1"
                            data-bs-dismiss="offcanvas">
                            <span class="ms-4">Reporte Inventario</span>
                        </a>
                    </li>

                </ul>

                
                <div class="mt-auto pt-3 border-top border-secondary">
                    <div class="mb-3">
                        <small class="text-muted d-block">Conectado como:</small>
                        <strong class="d-block">{{ authService.currentUser()?.fullName ||
                            authService.currentUser()?.username
                            }}</strong>
                    </div>
                    <button class="btn btn-outline-light btn-sm w-100" (click)="onLogout()" data-bs-dismiss="offcanvas">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-box-arrow-right me-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                            <path fill-rule="evenodd"
                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                        </svg>
                        Cerrar Sesión
                    </button>
                </div>
            </div>
        </div>

        
        <main class="flex-grow-1 bg-light overflow-auto">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>