<div class="d-flex overflow-hidden" style="height: 100dvh;">

    <app-sidebar class="h-100" [collapsed]="sidebarCollapsed" (collapsedChange)="sidebarCollapsed = $event">
    </app-sidebar>





    <div class="d-flex flex-column flex-grow-1 overflow-hidden"
        style="transform: translate(0, 0); flex: 1 1 0; min-width: 0;">

        <app-header (toggleSidebar)="sidebarCollapsed = !sidebarCollapsed"></app-header>

        <main class="h-100 overflow-auto">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>