<app-modal-alert></app-modal-alert>
<app-module-header title="Cuentas por Cobrar" iconClass="bi bi-cash-coin"></app-module-header>



<div class="account-receivable-page animate-fade-in">

    <div class="account-receivable-wrapper m-4">
        <div class="col-12">
            <app-smart-kpi-cards [items]="kpiItems()">
            </app-smart-kpi-cards>
        </div>


        <app-account-receivable-list [receivables]="receivables()" [isLoading]="isLoading()"
            [totalElements]="totalElements()" [pageSize]="pageSize()" [currentPage]="currentPage()"
            (payAction)="onPayAction($event)" (viewAction)="onViewAction($event)" (pageChange)="onPageChange($event)"
            (pageSizeChange)="onPageSizeChange($event)" (filterChange)="onFilterChange($event)">
        </app-account-receivable-list>
    </div>

    <!-- Modal para Cobrar -->
    <app-modal-generic [isVisible]="showPaymentModal()" title="Registrar Cobro" size="md" (close)="closePaymentModal()">
        <app-register-pay *ngIf="showPaymentModal()" [selectedReceivable]="selectedReceivable()"
            (cancel)="closePaymentModal()" (success)="onPaymentSuccess()">
        </app-register-pay>
    </app-modal-generic>

    <!-- Modal para Historial -->
    <app-modal-generic [isVisible]="showHistoryModal()" title="Historial de Pagos" size="md"
        (close)="closeHistoryModal()">
        <app-payment-history *ngIf="showHistoryModal()" [selectedReceivable]="selectedReceivable()"
            (close)="closeHistoryModal()">
        </app-payment-history>
    </app-modal-generic>
</div>