<div class="sidebar-container" [class.collapsed]="collapsed">

    <!-- Navigation Menu -->
    <nav class="sidebar-nav">
        <ul class="nav-list">
            <ng-container *ngFor="let item of menuItems()">

                <!-- Single Link -->
                <li class="nav-item" *ngIf="!item.children">
                    <a [routerLink]="item.route" routerLinkActive="active" class="nav-link"
                        [title]="collapsed ? item.label : ''">
                        <i class="bi {{item.icon}} nav-icon"></i>
                        <span class="nav-text" *ngIf="!collapsed" [@slideInOut]>{{item.label}}</span>

                        <!-- Tooltip for collapsed mode (simple CSS implementation) -->
                        <span class="tooltip-text" *ngIf="collapsed">{{item.label}}</span>
                    </a>
                </li>

                <!-- Dropdown Group -->
                <li class="nav-item" *ngIf="item.children">
                    <div class="nav-link group-link" (click)="toggleSubmenu(item)" [class.active-group]="item.expanded"
                        [title]="collapsed ? item.label : ''">
                        <i class="bi {{item.icon}} nav-icon"></i>
                        <span class="nav-text" *ngIf="!collapsed" [@slideInOut]>{{item.label}}</span>
                        <i class="bi bi-chevron-down dropdown-arrow" *ngIf="!collapsed" [@rotate]="item.expanded"></i>
                    </div>

                    <!-- Submenu items -->
                    <div class="submenu" *ngIf="item.expanded && !collapsed" [@slideInOut]>
                        <a *ngFor="let child of item.children" [routerLink]="child.route" routerLinkActive="active"
                            [routerLinkActiveOptions]="child.routerLinkActiveOptions || { exact: false }"
                            class="nav-link sub-link">
                            <span class="bullet"></span>
                            <span class="nav-text">{{child.label}}</span>
                        </a>
                    </div>
                </li>

            </ng-container>
        </ul>
    </nav>
</div>