<div class="module-header">
  <app-module-header title="Proveedores" iconClass="bi-truck"></app-module-header>
</div>

<div class="container-fluid px-4">
  <!-- KPI Cards -->
  <div class="row">
    <div class="col-12">
      <div class="my-4">
        <app-smart-kpi-cards [items]="kpiItems()" [showTrend]="true" [showChart]="true"></app-smart-kpi-cards>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="row">
    <div class="col-12">
      <div class="card border-0 shadow-sm mb-4">
        <div class="card-body p-0">
          <app-custom-table 
            [columns]="cols" 
            [data]="suppliers()" 
            [pageSize]="pageSize()"
            [totalElements]="totalItems()"
            [currentPage]="currentPage() + 1"
            (onAction)="handleTableAction($event)"
            (onPageChange)="handlePageChange($event)"
            (onPageSizeChange)="handlePageSizeChangeValue($event)">
          </app-custom-table>
        </div>
      </div>
    </div>
  </div>
</div>
