<ul class="nav nav-pills custom-pills mb-3" role="tablist">
    <li *ngFor="let tab of titles" class="nav-item" role="presentation">
        <button class="nav-link d-flex align-items-center gap-2" [class.active]="tab.id === activeId"
            (click)="selectTab(tab.id)" type="button" role="tab" [attr.aria-controls]="tab.id"
            [attr.aria-selected]="tab.id === activeId">
            <i *ngIf="tab.icon" [class]="tab.icon"></i>
            {{ tab.name }}
        </button>
    </li>
</ul>

<div class="section-content animate-fade">
    <ng-content></ng-content>
</div>