@if (isLoading()) {
<div class="text-center py-5">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>
} @else {
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-2">
    <div class="mb-3">
        <label for="name" class="form-label">
            Nombre <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" id="name" formControlName="name"
            [class.is-invalid]="isFieldInvalid('name')" placeholder="Ej: Analgésicos">
        @if (isFieldInvalid('name')) {
        <div class="invalid-feedback">
            {{ getFieldError('name') }}
        </div>
        }
    </div>



    <div class="d-flex gap-2 justify-content-end">
        <button type="submit" class="btn btn-custom-primary" [disabled]="isSaving() || form.invalid">
            @if (!isSaving()) {
                {{ isEditMode() ? 'Actualizar Categoría' : 'Guardar Categoría' }}
            }
            @if (isSaving()) {
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                Guardando...
            }
        </button>
    </div>
</form>
}