<app-confirm-modal></app-confirm-modal>
<app-modal-alert></app-modal-alert>
<app-spinner [show]="isLoading()" [fullScreen]="true"></app-spinner>

<app-custom-table [columns]="columns" [data]="movements()" [pageSize]="pageSize()" [totalElements]="totalItems()"
    [currentPage]="currentPage() + 1" (onAction)="handleAction($event)" (onPageChange)="handlePageChange($event)"
    (onPageSizeChange)="handlePageSizeChangeValue($event)" (onFilterChange)="onTableFilter($event)">
</app-custom-table>

@if (!isLoading() && movements().length === 0) {
<div class="text-center p-5 text-muted">
    <i class="bi bi-info-circle fs-2 d-block mb-2"></i>
    No se encontraron movimientos de caja registrados.
</div>
}