<div class="roles-page">
    <app-roles-list (create)="onOpenForm()" (edit)="onOpenForm($event)">
    </app-roles-list>

    <p-dialog [header]="isEditMode() ? 'Editar Rol' : 'Nuevo Rol'" [(visible)]="displayForm" [modal]="true"
        [style]="{ width: '40vw' }" [breakpoints]="{ '960px': '75vw', '641px': '100vw' }" [draggable]="false"
        [resizable]="false">

        @if (displayForm()) {
        <app-role-form [roleId]="selectedRoleId()" (saved)="onFormSaved()" (cancelled)="onFormCancelled()">
        </app-role-form>
        }
    </p-dialog>
</div>