.roles-wrapper {
    display: flex;
    flex-direction: column;
    margin: 12px;
    gap: 12px;
}

.btn-new-role {
    background: var(--primary-color);
    border: none;
    color: var(--text-on-primary);
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover:not(:disabled) {
        background: var(--primary-hover);
    }
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal {
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 0.15s linear;
}

@media (max-width: 768px) {
    .roles-wrapper {
        margin: 1rem !important;
    }
}