<div #accordionRef class="accordion mb-2">
    <div class="accordion-item">
        <h2 class="accordion-header" [id]="'heading-' + getTargetId()">
            <button class="accordion-button" type="button" [class.collapsed]="!isExpanded"
                [attr.aria-expanded]="isExpanded" [attr.aria-controls]="getTargetId()"
                (click)="toggleAccordion(!isExpanded)">
                <div class="d-flex align-items-center w-100">
                    <div *ngIf="numeration" class="numeration">{{ numeration }}</div>
                    <span class="span-title">{{ title }}</span>

                    
                    @if (status === 'valid' || status === 'invalid') {
                    <div class="status-area">
                        <div class="status-badge" [ngClass]="{
                  'status-valid': status === 'valid',
                  'status-invalid': status === 'invalid'
                }">
                            <i class="bi" [ngClass]="{
                    'bi-check-circle': status === 'valid',
                    'bi-exclamation-circle': status === 'invalid'
                  }">
                            </i>
                            <span class="status-text">{{ currentStatusMessage }}</span>
                        </div>
                    </div>
                    }
                </div>
            </button>
            <div class="accordion-preview-wrapper">
                <ng-content select="[accordion-preview]"></ng-content>
            </div>
        </h2>

        <div [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'" [class.overflow-hidden]="!isExpanded"
            [id]="getTargetId()" class="accordion-collapse" aria-labelledby="'heading-' + getTargetId()">
            <div class="accordion-body">
                <ng-content select="[accordion-content]"></ng-content>
            </div>
        </div>
    </div>
</div>