<header class="main-header">

    <!-- Botón para mostrar el sidebar en móviles/tablets -->
    <div class="header-left d-lg-none">
        <button class="btn-menu" (click)="toggleSidebar.emit()">
            <i class="bi bi-list"></i>
        </button>
    </div>

    <div class="header-right">
        <div class="header-actions">
            <button class="action-btn notification-btn">
                <i class="bi bi-bell"></i>
            </button>
            <button class="action-btn theme-btn" (click)="toggleTheme()">
                <i class="bi" [class.bi-sun]="!isDarkMode" [class.bi-moon-stars]="isDarkMode"></i>
            </button>
        </div>

        <div class="language-selector">
            <img src="https://flagcdn.com/w20/es.png" alt="ES" class="lang-flag">
            <span class="lang-text">{{ currentLanguage() }}</span>
            <i class="bi bi-chevron-down"></i>
        </div>

        <div class="profile-menu-container">

            <div class="profile-trigger" (click)="toggleProfileDropdown($event)"
                [class.active]="isProfileDropdownOpen()">
                <span class="user-name">{{ authService.currentUser()?.fullName}}</span>
                <div class="profile-avatar">
                    @if (authService.currentUser()?.profilePicture && !imageError()) {
                    <img [src]="authService.currentUser()?.profilePicture" class="avatar-image"
                        (error)="imageError.set(true)">
                    } @else {
                    <div class="avatar-content">{{ userInitials }}</div>
                    }
                    <div class="status-indicator"></div>
                </div>
                <i class="bi bi-chevron-down chevron-icon" [class.rotated]="isProfileDropdownOpen()"></i>
            </div>

            @if (isProfileDropdownOpen()) {
            <app-profile-dropdown 
                [availableServiceCenters]="availableServiceCenters()"
                [selectedServiceCenterId]="selectedServiceCenterId()"
                (selectCareCenter)="selectCareCenter($event)"
                (myAccount)="myAccount()"
                (logout)="logout()">
            </app-profile-dropdown>
            }
        </div>
    </div>
</header>