:host {
    display: block;
}

.card {
    transition: transform 0.2s;
}

.form-select,
.form-control {
    &:focus {
        background-color: #f8f9fa !important;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.1) !important;
    }
}

.form-check-input:checked {
    background-color: #4e73df;
    border-color: #4e73df;
}