<app-confirm-modal></app-confirm-modal>
<app-modal-alert></app-modal-alert>
<app-spinner [show]="isLoading()" [fullScreen]="true"></app-spinner>
<app-module-header title="Gestión de Usuarios" iconClass="bi bi-people-fill"></app-module-header>

<div class="users-wrapper animate-fade-in">

    <div class="d-flex justify-content-end">
        <button type="button" class="btn-new-user" (click)="onOpenForm()">Nuevo Usuario</button>
    </div>

    <app-users-list [users]="users()" [roles]="roles()" [isLoading]="isLoading()" [totalItems]="totalItems()"
        [totalPages]="totalPages()" [currentPage]="currentPage()" [pageSize]="pageSize()" (edit)="onOpenForm($event)"
        (delete)="onDeleteUser($event)" (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"
        (tableFilterChange)="onTableFilter($event)">
    </app-users-list>

    <!-- Modal para Crear/Editar Usuario -->
    <app-modal-generic [isVisible]="showUserForm()" [title]="selectedUserId() ? 'Editar Usuario' : 'Nuevo Usuario'"
        size="lg" (close)="onFormCancelled()">
        <app-user-form *ngIf="showUserForm()" [userId]="selectedUserId()" (saved)="onFormSaved()"
            (cancelled)="onFormCancelled()">
        </app-user-form>
    </app-modal-generic>
</div>