.users-page {
    padding: 0;
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal {
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 0.15s linear;
}