<div class="users-page">
    <app-users-list (create)="onOpenForm()" (edit)="onOpenForm($event)">
    </app-users-list>

    <p-dialog [header]="isEditMode() ? 'Editar Usuario' : 'Nuevo Usuario'" [(visible)]="displayForm" [modal]="true"
        [style]="{ width: '80vw' }" [breakpoints]="{ '960px': '75vw', '641px': '100vw' }" [draggable]="false"
        [resizable]="false">

        @if (displayForm()) {
        <app-user-form [userId]="selectedUserId()" (saved)="onFormSaved()" (cancelled)="onFormCancelled()">
        </app-user-form>
        }
    </p-dialog>
</div>