.navbar {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
}

.navbar__list {
    width: 100%;
    padding: 0;
    margin: 0 10px;
}

.navbar__item {
    width: 100%;
    list-style: none;
    cursor: pointer;
    --rotate1: rotate(0deg);
    border-radius: 0.5rem;
}

.navbar__item:not(:has(.navbar__input-check:checked)):hover {
    background-color: rgba(4, 34, 216, 0.1);
}

.navbar__link {
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding: 15px;
    column-gap: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
    border-radius: 6px;
}

.navbar__icon--primary {
    color: #0422D8;
}

.navbar__text {
    color: #212529;
}

.navbar__item:has(:checked) {
    --rows: 1fr;
    --rotate1: rotate(90deg);
}

.navbar__icon--secondary {
    justify-self: end;
    transform: var(--rotate1);
    transition: transform 0.2s ease;
}

.navbar__input-check {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.navbar__dropdown {
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: 0.3s grid-template-rows;
    width: 100%;
}

.navbar__dropdown-list {
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.navbar__dropdown-item {
    width: 92%;
    list-style: none;
    margin-left: 20px;
}

.navbar__dropdown-link {
    display: grid;
    grid-template-columns: 20px 1fr;
    padding: 10px;
    margin: 5px 0;
    gap: 5px;
    text-decoration: none;
    border-radius: 6px;
}

.navbar__dropdown-icon {
    color: #212529;
}

.navbar__dropdown-text {
    color: #212529;
}

.navbar__dropdown-link:hover {
    background-color: rgba(4, 34, 216, 0.1);
}

.navbar__dropdown-link.active {
    background-color: rgba(4, 34, 216, 0.1);
}