<nav class="navbar" *ngIf="isVisible">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a class="navbar__link" [routerLink]="!Items || Items.length === 0 ? Link : null"
                [routerLinkActive]="!Items || Items.length === 0 ? 'active' : ''"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="navbar__icon--primary" [ngClass]="MenuIcon"></i>
                <span class="navbar__text">{{ MenuName }}</span>
                <i *ngIf="Items && Items.length > 0" id="icon" class="bi bi-chevron-right navbar__icon--secondary"></i>
                <input *ngIf="Items && Items.length > 0" class="navbar__input-check" type="checkbox" />
            </a>

            <div class="navbar__dropdown" *ngIf="Items && Items.length > 0">
                <ul class="navbar__dropdown-list">
                    <ng-container *ngFor="let item of Items">
                        <li class="navbar__dropdown-item">
                            <a class="navbar__dropdown-link" [routerLink]="item.ItemLink" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                <i class="bi bi-circle navbar__dropdown-icon" style="stroke-width: 2"></i>
                                <span class="navbar__dropdown-text">{{ item.ItemName }}</span>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </li>
    </ul>
</nav>