@if (isLoading()) {
<div class="text-center py-5">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>
} @else {
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-2">
    <div class="mb-3">
        <label for="name" class="form-label">
            Nombre <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" id="name" formControlName="name"
            [class.is-invalid]="isFieldInvalid('name')" placeholder="Ej: Laboratorio X">
        @if (isFieldInvalid('name')) {
        <div class="invalid-feedback">
            {{ getFieldError('name') }}
        </div>
        }
    </div>



    <div class="d-flex gap-2 justify-content-end">
        <button type="button" class="btn btn-secondary px-4" (click)="onCancel()" [disabled]="isSaving()">
            Cancelar
        </button>
        <button type="submit" class="btn btn-primary px-4" [disabled]="isSaving() || form.invalid">
            @if (isSaving()) {
            <span class="spinner-border spinner-border-sm me-2" role="status"></span>
            }
            {{ isEditMode() ? 'Actualizar' : 'Guardar' }}
        </button>
    </div>
</form>
}