<div class="summary-container">
    @if (title) {
    <div class="summary-title">{{ title }}</div>
    }
    <div class="summary-cards">
        @for (item of items; track item.label) {
        <div class="summary-card" [ngClass]="item.cssClass">
            <div class="card-icon">{{ item.icon }}</div>
            <div class="card-info">
                <span class="card-value">
                    {{ item.value | currency: currencyCode : currencySymbol }}
                </span>
                <span class="card-label">{{ item.label }}</span>
            </div>
        </div>
        }
    </div>
</div>