<div class="summary-container">
    @if (title) {
    <div class="summary-title">
        <span>{{ title }}</span>
    </div>
    }
    <div class="summary-cards">
        @for (item of items; track item.label) {
        <div class="summary-card" [ngClass]="item.cssClass">
            
            <div class="card-top">
                <div class="card-icon-wrapper">
                    <div class="card-icon">
                        <i [class]="item.icon"></i>
                    </div>
                </div>
            </div>

            <div class="card-info">
                <span class="card-label">{{ item.label }}</span>
                <span class="card-value">
                    @if (item.isCurrency) {
                        {{ item.value | currency: currencyCode : currencySymbol }}
                    } @else {
                        {{ item.value }}
                    }
                </span>
                @if (item.subtitle) {
                    <div class="card-subtitle-wrapper">
                        <span class="card-subtitle" [innerHTML]="item.subtitle"></span>
                    </div>
                }
            </div>
            
            <!-- Marca de agua elegante -->
            <div class="card-watermark">
                <i [class]="item.icon"></i>
            </div>
        </div>
        }
    </div>
</div>