<app-generic-modal [isOpen]="isOpen" [title]="title" [showCloseButton]="true" (onClose)="onCancel()" size="sm">

    <div class="text-center py-2">
        <i *ngIf="type === 'danger'" class="bi bi-exclamation-triangle-fill text-danger display-4 mb-3 d-block"></i>
        <i *ngIf="type === 'warning'" class="bi bi-exclamation-circle-fill text-warning display-4 mb-3 d-block"></i>
        <i *ngIf="type === 'primary'" class="bi bi-info-circle-fill text-primary display-4 mb-3 d-block"></i>

        <p class="mb-0 fs-5">{{ message }}</p>
    </div>

    <div footer class="d-flex justify-content-center gap-2 w-100">
        <button type="button" class="btn btn-light px-4" (click)="onCancel()">{{ cancelText }}</button>
        <button type="button" [ngClass]="'btn btn-' + type" class="px-4" (click)="onConfirm()">{{ confirmText
            }}</button>
    </div>
</app-generic-modal>