<div class="container-fluid p-0 m-0 width-auto">
    <table class="table border text-center mx-auto table-theme" [ngClass]="{'table-hover': isHoverEnabled}">
        <thead class="text-primary">
            <tr>
                <th scope="col" *ngFor="let header of headers">{{ header }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data; let i = index" (click)="IsRowClick ? OnRowClick(row) : null"
                [ngClass]="IsRowClick ? 'pointer' : ''">
                <td [ngClass]="selectedRow === row && SelectListRowData !== null ? 'table-blue' : ''"
                    *ngFor="let field of row; let x = index">

                    
                    <ng-container *ngIf="isBoolean(field)">
                        <label class="switch">
                            <input type="checkbox" [checked]="field" (change)="onToggleChange(row, field, $event)">
                            <span class="slider"></span>
                        </label>
                    </ng-container>

                    
                    <ng-container *ngIf="isArray(field) && i !== 0; else normalContent">
                        <div class="d-flex flex-wrap gap-1 justify-content-center">
                            <span *ngFor="let category of field" class="category-box">{{ category }}</span>
                        </div>
                    </ng-container>

                    <ng-template #normalContent>
                        <div *ngIf="!isBoolean(field)">
                            
                            <div *ngIf="isActiveInputFilter && i === 0">
                                <div *ngFor="let item of InputFilter">
                                    <div *ngIf="x === (headers.indexOf(item))">
                                        <input class="form-control form-control-sm"
                                            (input)="SendInputFilterValue($event, item)" type="text" />
                                    </div>
                                </div>
                            </div>

                            
                            <div *ngIf="isActiveTextFilter && i === 0">
                                <div *ngFor="let item of TextFilter">
                                    <div *ngIf="x === (headers.indexOf(item))">
                                        {{ item.value }}
                                    </div>
                                </div>
                            </div>

                            
                            <div *ngIf="(!isActiveInputFilter && !isActiveTextFilter) || i > 0">
                                {{ field }}
                            </div>
                        </div>
                    </ng-template>
                </td>

                
                <td *ngIf="isActiveButtonAction">
                    <div *ngIf="!isActiveInputFilter || i > 0">
                        <app-button-actions [actions]="actions"
                            (actionClicked)="SendButtonActions($event)"></app-button-actions>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>