<app-confirm-modal></app-confirm-modal>
<app-modal-alert></app-modal-alert>

<app-module-header title="Personal" iconClass="bi bi-people-fill"></app-module-header>

<app-spinner [show]="isLoading()" [fullScreen]="true"></app-spinner>
<div class="employees-wrapper animate-fade-in">

    <div class="d-flex justify-content-end">
        <button type="button" class="btn-new-employee" (click)="onOpenForm()">Nuevo Personal</button>
    </div>

    <app-employees-list 
        [employees]="employees()" 
        [isLoading]="isLoading()" 
        [totalItems]="totalItems()"
        [totalPages]="totalPages()"
        [currentPage]="currentPage()"
        [pageSize]="pageSize()"
        (create)="onOpenForm()"
        (edit)="onOpenForm($event)" 
        (delete)="onDeleteEmployee($any($event))"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
        (tableFilterChange)="onTableFilter($event)">
    </app-employees-list>

    <!-- Modal para Crear/Editar Personal -->
    <app-modal-generic [isVisible]="displayForm()" [title]="selectedEmployeeId() ? 'Editar Personal' : 'Nuevo Personal'"
        (close)="onFormCancelled()">

        <app-employee-form *ngIf="displayForm()" [employeeId]="selectedEmployeeId()" [isModal]="true" (saved)="onFormSaved()"
            (cancelled)="onFormCancelled()">
        </app-employee-form>
    </app-modal-generic>
</div>