<div class="row">
    <div class="col-12">
        <div class="position-relative">
            <app-custom-table [columns]="cols" [data]="users" [pageSize]="pageSize" [totalElements]="totalItems"
                [currentPage]="currentPage + 1" (onAction)="handleTableAction($event)"
                (onPageChange)="handlePageChange($event)" (onFilterChange)="handleTableFilter($event)"
                (onPageSizeChange)="handlePageSizeChange($event)">
            </app-custom-table>
        </div>
    </div>
</div>