<div class="select-container" [class.disabled]="disabled">
    <div class="select-trigger" (click)="toggleDropdown()">
        
        <div class="selected-tags" *ngIf="multiple && selectedIds.length > 0">
            <span class="tag" *ngFor="let id of selectedIds">
                {{ idNameMap.get(id) }}
                <button class="remove-tag" (click)="removeSelected(id); $event.stopPropagation()">
                    <i class="bi bi-x"></i>
                </button>
            </span>
        </div>

        
        <span class="select-value" *ngIf="!multiple || selectedIds.length === 0"
            [ngClass]="isPlaceholder() ? 'select-value-placeholder' : 'select-value-not-placeholder'">
            {{ getSelectedLabel() }}
        </span>

        <span class="select-icon" [class.open]="isOpen">
            <i class="bi bi-chevron-down"></i>
        </span>
    </div>

    
    <div class="select-dropdown shadow-sm" *ngIf="isOpen">
        
        <div class="search-container" *ngIf="showSearch">
            <div class="search-icon">
                <i class="bi bi-search"></i>
            </div>
            <input type="text" class="search-input" placeholder="Buscar..." [value]="searchText"
                (input)="onSearch($event)" (click)="$event.stopPropagation()" />
        </div>

        
        <div class="options-container">
            <div class="empty-message" *ngIf="filteredOptions.length === 0">
                {{ emptyMessage }}
            </div>

            <div class="option-item" *ngFor="let option of filteredOptions" (click)="selectOption(option)"
                [class.selected]="multiple ? selectedIds.includes(option.id) : option.id === selectedId">
                <span class="check-icon" *ngIf="multiple ? selectedIds.includes(option.id) : option.id === selectedId">
                    <i class="bi bi-check-lg"></i>
                </span>
                <span class="option-label text-truncate">{{ option.name }}</span>
            </div>
        </div>
    </div>
</div>