.role-form-container {
    .form-label {
        font-size: 0.9rem;
        color: #495057;
    }

    .card {
        border-radius: 12px;
    }

    :host ::v-deep {

        .p-inputtext,
        .p-textarea {
            border-radius: 8px;
            padding: 0.75rem;
            border: 1px solid #ced4da;
            transition: all 0.2s;

            &:focus {
                border-color: var(--p-primary-color);
                box-shadow: 0 0 0 2px rgba(var(--p-primary-color-rgb), 0.2);
            }
        }

        .p-toggleswitch {
            .p-toggleswitch-slider {
                border-radius: 20px;
            }
        }
    }
}