.form-label {
    margin-bottom: 0.25rem;
}

.form-select {
    cursor: pointer;

    &:focus {
        border-color: #0422D8;
        box-shadow: 0 0 0 0.25rem rgba(4, 34, 216, 0.1);
    }
}

.input-group-text {
    font-size: 0.8rem;
}