<div class="w-100" [class.opacity-50]="disabled">
    <div *ngIf="label" class="text-muted fw-bold mb-1 text-truncate"
        style="font-size: 0.65rem; text-transform: uppercase;">
        {{ label }}
    </div>

    <div class="btn-group btn-group-sm bg-body-tertiary rounded-3 border border-light w-100"
        [class.bg-white]="!showControls" style="height: 26px;">

        <button *ngIf="showControls" type="button" class="btn btn-light px-2 py-0 text-muted fw-bold border-0"
            (click)="decrement()" [disabled]="value <= min || disabled">-</button>

        <input type="number" class="px-1 fw-bold bg-white text-center border-0 w-100 custom-number-input"
            style="font-size: 0.85rem; border-left: 1px solid #eee !important; border-right: 1px solid #eee !important; outline: none; min-width: 1px;"
            [style.border-left]="!showControls ? 'none' : '1px solid #eee !important'"
            [style.border-right]="!showControls ? 'none' : '1px solid #eee !important'" [value]="value"
            [step]="allowManual ? 'any' : step" [readonly]="!allowManual || !showControls || disabled"
            (change)="onManualInput($event)" (input)="onManualInput($event)">

        <button *ngIf="showControls" type="button" class="btn btn-light px-2 py-0 text-muted fw-bold border-0"
            (click)="increment()" [disabled]="value >= max || disabled">+</button>
    </div>
</div>