<div *ngIf="show" [class.spinner-overlay]="fullScreen" [class.spinner-inline]="!fullScreen">
    <div class="spinner-container">
        <!-- El spinner con variables CSS inyectadas para tamaño y color -->
        <div class="modern-spinner" [style.--spinner-size.px]="size" [style.--spinner-color]="color">
        </div>

        <!-- Mensaje opcional con margen superior de Bootstrap (mt-3) -->
        <p *ngIf="message" class="spinner-message mt-3" [style.color]="color">
            {{ message }}
        </p>
    </div>
</div>